NODE_ENV=production
HOST=0.0.0.0
PORT=3000
PUBLIC_BASE_URL=https://irc-hispano-client.onrender.com
IRC_HOST=irc.irc-hispano.org
IRC_PLAIN_PORTS=6667,6668,6669,7000
IRC_SSL_PORTS=6697,7070
IRC_DEBUG=0
